
    <section id="pop-up" class="hide">
        <div class="content">
            <div class="header">
                <a href="#">Fechar</a>

                <h1>Pontos de coleta</h1>
            </div>
            <form action="/results-page">
                <label for="search">Cidade</label>
                <div class="search field">
                    <input type="text" name="search">
                    <button> 
                        <img src="/icones/search.svg" alt="Search">
                    </button>
                </div>
            </form>

        </div>

    </section>